<form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" placeholder="Ingrese su nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label><input type="text" id="apellido" placeholder="Ingrese su apellido" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">Email</label><input type="email" id="email" aria-describedby="emailHelp" placeholder="Ingrese su email" class="form-control" />
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más</small>
    </div>
    <button type="submit" class="btn btn-primary">
    Enviar
  </button>
</form>